<div id="<%= dom_id tweet %>">
  <p>
    <strong>Name:</strong>
    <%= tweet.name %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= tweet.title %>
  </p>

  <p>
    <strong>Blog:</strong>
    <%= tweet.blog %>
  </p>

</div>
